.hero{
    background-image: linear-gradient(120deg,
    rgba(230, 170, 41, 0.6),
    rgba(190, 122, 95, 0.542)),
    url(img/receta-de-pizza-sin-horno.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-texto{
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-texto h1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 15px;
}
.sd{
    background-color: (190, 122, 95, 0.542) ;
}
.se h2{
    font-size: 90px;
    text-align: center;
}
.si{
    font-size: 40px;
    text-align: center;
}
.menu{
    background-color: black;
    list-style-type: none;
    width: 100%;
    position: fixed;
}
.menu li{
    float: left;
}
.menu li a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    display: inline-block;
    font-size: 25px;
}
.menu li a:hover{
    color: black;
    background-color: white;
    text-decoration: underline rgb(255, 255, 255);
}
.oferta{
    background-color: rgb(230, 170, 41, 0.6);
    color: rgb(0, 0, 0);
}
.contenedor{
    width: 90%;
    margin: auto;
    padding: 10px 0;
}
.galeria-contenedorrr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.galeria-contenedorrr img{
    width: 23%;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}
.galeria-contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.galeria-contenedor img{
    width: 23%;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px rgb(100, 18, 18);

}
.galeria-contenedor img:hover{
    transform: scaleX(-1.01);
    transition: 6s;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    font-size: 15px;
}